---
layout: default
lang: en
title: CAL2020 Program
description: The 2nd Crypto Asset Lab International Conference
permalink: /cal2020/
---
<div id="homeid" class="col-sm-9">

  <section id=conference>

    <div class="img-responsive" id="intro">

      <img src="/img/cal2020/CAL2020_call_for_paper_JRCV2.jpg" width="100%" class="img-responsive">


      <a href="https://twitter.com/CryptoAssetLab/status/1288498668891525125">
        <img src="/img/cal2020/twitter.png" width="30" height="30%">
      </a>
      <a href="https://www.linkedin.com/events/6694264839734382592">
        <img src="/img/cal2020/LinkedIn.png" width="30" height="30%">
      </a>
      <a href="https://www.facebook.com/events/227957534980496">
        <img src="/img/cal2020/facebook.png" width="30" height="30%">
      </a>
      <a href="https://inomics.com/conference/2nd-crypto-asset-lab-conference-1478634">
        <img src="/img/cal2020/inomics.jpg" width="100" height="100%">
      </a>
      <a href="https://www.eventbrite.com/e/the-2nd-crypto-asset-lab-conference-tickets-114668123444">
        <img src="/img/cal2020/eventbrite.png" width="30" height="30%">
      </a>
      <a href="https://www.eventbrite.com/e/the-2nd-crypto-asset-lab-conference-registration-114668123444"
        class="btn btn-primary btn-xl" text-align="right">Free Registration</a>
      <!--a href="{{ site.baseurl }}/cal2020" class="btn btn-primary btn-xl" text-align="right">Conference Page</a-->

      <h3><b>The 2nd Crypto Asset Lab Conference Program</b></h3>
      <h3>October 27, 2020</h3>
      <h4>See also the
        <a href="{{ site.baseurl }}/calconf/">CAL conference main page</a>.
      </h4>
    </div>

    <div class="img-responsive" id="program">
      <br>
      <h3><b>Plenary Session, 15:00 CET (UTC+1)</b></h3>
      <hr class="primary">

      <table width="100%" id="plenary">
        <tr>
          <td width="15%"><a
              href="https://www.youtube.com/watch?v=xhFZXnOGtto&list=PLTLa2tRY91LIERomYutM16smoQQ2UShoj&index=1"
              class="btn btn-primary btn-xl">Watch on</br>YouTube</a></td>
          <td width="85%">
            <h4><b>CAL2020<br>Opening Session</b></h4>
          </td>
        </tr>
        <tr>
          <td width="15%"></td>
          <td width="85%"><br><b>Introduction</b></td>
        </tr>
        <tr>
          <td width="15%"></td>
          <td width="85%"><a href="http://linkedin.com/in/lucia-alessi-78961a5"><i>Lucia Alessi</i></a>, DG Joint
            Research Centre, European Commission</td>
        </tr>
        <tr>
          <td width="15%"></td>
          <td width="85%"><a href="http://www.ametrano.net/"><i>Ferdinando M. Ametrano</i></a>, Digital Gold Institute
            and University of Milano-Bicocca</td>
        </tr>
        <tr>
          <td width="15%"></td>
          <td width="85%"><a href="https://www.unimib.it/paola-agnese-bongini"><i>Paola A. Bongini</i></a>, University
            of Milano-Bicocca</td>
        </tr>
        <tr>
          <td width="15%"></td>
          <td width="85%"><br><b>Welcome Address</b></td>
        </tr>
        <tr>
          <td width="15%"></td>
          <td width="85%"><a href="https://www.unimib.it/giovanna-iannantuoni"><i>Giovanna Iannantuoni</i></a>,
            University of Milano-Bicocca</td>
        </tr>
        <tr>
          <td width="15%"></td>
          <td width="85%"><br><b>Keynote Speech:<br>Bloggers and Bitcoin Prices: A Textual Machine Learning Analysis</b>
            (<a href="{{ site.baseurl }}/docs/CAL2020/slides/BitcoinBloggers.pdf">sildes</a>)</td>
        </tr>
        <tr>
          <td width="15%"></td>
          <td width="85%"><a href="https://www.kenan-flagler.unc.edu/faculty/directory/eric-ghysels/"><i>Eric
                Ghysels</i></a>, University of North Carolina at Chapel Hill</td>
        </tr>
      </table>

      <br>
      <h3><b>Parallel Sessions, 16:00 CET (UTC+1)</b></h3>
      <hr class="primary">

      <table width="100%" id="streamA">
        <tr>
          <td width="15%"><a
              href="https://www.youtube.com/watch?v=dvgb2YOm1y4&list=PLTLa2tRY91LIERomYutM16smoQQ2UShoj&index=2"
              class="btn btn-primary btn-xl">Watch on</br>YouTube</a></td>
          <td width="85%">
            <h4><b>Crypto-Economics Session</b></h4>
            <h5>Moderator: <a href="https://www.unimib.it/paola-agnese-bongini"><i>Paola A. Bongini</i></a>,
              University of Milano-Bicocca<br></h5>
          </td>
        <tr>
          {% for member in site.data.cal2020_papers %}
          {% if member.stream == 'Crypto-Economics' %}
        <tr>
          <td width="15%"></td>
          <td width="85%"><br>
            {% if member.slides %}
            <a href="{{ member.link }}"><b>{{ member.paper }}</b></a>, (<a
              href="{{ site.baseurl }}/docs/CAL2020/slides/{{ member.slides }}.pdf">slides</a>)<br>
            {% else %}
            <a href="{{ member.link }}"><b>{{ member.paper }}</b></a><br>
            {% endif %}
            {% if member.author1 %}
            {% if member.affiliation1 %}
            <i>{{ member.author1 }}</i>, {{ member.affiliation1 }}<br>
            {% else %}
            <i>{{ member.author1 }}</i><br>
            {% endif %}
            {% endif %}
            {% if member.author2 %}
            {% if member.affiliation2 %}
            <i>{{ member.author2 }}</i>, {{ member.affiliation2 }}<br>
            {% else %}
            <i>{{ member.author2 }}</i><br>
            {% endif %}
            {% endif %}
            {% if member.author3 %}
            {% if member.affiliation3 %}
            <i>{{ member.author3 }}</i>, {{ member.affiliation3 }}<br>
            {% else %}
            <i>{{ member.author3 }}</i><br>
            {% endif %}
            {% endif %}
            {% if member.author4 %}
            {% if member.affiliation4 %}
            <i>{{ member.author4 }}</i>, {{ member.affiliation4 }}<br>
            {% else %}
            <i>{{ member.author4 }}</i><br>
            {% endif %}
            {% endif %}
            {% if member.presenter %}Presented by {{ member.presenter }} {% endif %}
          </td>
        </tr>
        {% endif %}
        {% endfor %}
      </table>

      <table width="100%" id="streamB">
        <tr>
          <td width="15%"><a
              href="https://www.youtube.com/watch?v=cC7OwbjrKNw&list=PLTLa2tRY91LIERomYutM16smoQQ2UShoj&index=5"
              class="btn btn-primary btn-xl">Watch on</br>YouTube</a></td>
          <td width="85%">
            <h4><b>Legal and Regulatory Session</b></h4>
            <h5>Moderator: <a href="https://www.unimib.it/francesca-mattassoglio"><i>Francesca Mattassoglio</i></a>,
              University of Milano-Bicocca<br></h5>
          </td>
        </tr>
        {% for member in site.data.cal2020_papers %}
        {% if member.stream == 'Legal' %}
        <tr>
          <td width="15%"></td>
          <td width="85%"><br>
            {% if member.slides %}
            <a href="{{ member.link }}"><b>{{ member.paper }}</b></a>, (<a
              href="{{ site.baseurl }}/docs/CAL2020/slides/{{ member.slides }}.pdf">slides</a>)<br>
            {% else %}
            <a href="{{ member.link }}"><b>{{ member.paper }}</b></a><br>
            {% endif %}
            {% if member.author1 %}
            {% if member.affiliation1 %}
            <i>{{ member.author1 }}</i>, {{ member.affiliation1 }}<br>
            {% else %}
            <i>{{ member.author1 }}</i><br>
            {% endif %}
            {% endif %}
            {% if member.author2 %}
            {% if member.affiliation2 %}
            <i>{{ member.author2 }}</i>, {{ member.affiliation2 }}<br>
            {% else %}
            <i>{{ member.author2 }}</i><br>
            {% endif %}
            {% endif %}
            {% if member.author3 %}
            {% if member.affiliation3 %}
            <i>{{ member.author3 }}</i>, {{ member.affiliation3 }}<br>
            {% else %}
            <i>{{ member.author3 }}</i><br>
            {% endif %}
            {% endif %}
            {% if member.author4 %}
            {% if member.affiliation4 %}
            <i>{{ member.author4 }}</i>, {{ member.affiliation4 }}<br>
            {% else %}
            <i>{{ member.author4 }}</i><br>
            {% endif %}
            {% endif %}
            {% if member.presenter %}Presented by {{ member.presenter }} {% endif %}
          </td>
        </tr>
        {% endif %}
        {% endfor %}
        <hr>
      </table>

      <table width="100%" id="streamC">
        <tr>
          <td width="15%"><a
              href="https://www.youtube.com/watch?v=DxyPelC2k8g&list=PLTLa2tRY91LIERomYutM16smoQQ2UShoj&index=3"
              class="btn btn-primary btn-xl">Watch on</br>YouTube</a></td>
          <td width="85%">
            <h4><b>Quantitative Modelling Session</b></h4>
            <h5>Moderator: <a href="https://www.unipg.it/personale/gianna.figatalamanca/"><i>Gianna
                  Figà-Talamanca</i></a>, University of Perugia<br></h5>
          </td>
        </tr>
        {% for member in site.data.cal2020_papers %}
        {% if member.stream == 'Quantitative Modelling' %}
        <tr>
          <td width="15%"></td>
          <td width="85%"><br>
            {% if member.slides %}
            <a href="{{ member.link }}"><b>{{ member.paper }}</b></a>, (<a
              href="{{ site.baseurl }}/docs/CAL2020/slides/{{ member.slides }}.pdf">slides</a>)<br>
            {% else %}
            <a href="{{ member.link }}"><b>{{ member.paper }}</b></a><br>
            {% endif %}
            {% if member.author1 %}
            {% if member.affiliation1 %}
            <i>{{ member.author1 }}</i>, {{ member.affiliation1 }}<br>
            {% else %}
            <i>{{ member.author1 }}</i><br>
            {% endif %}
            {% endif %}
            {% if member.author2 %}
            {% if member.affiliation2 %}
            <i>{{ member.author2 }}</i>, {{ member.affiliation2 }}<br>
            {% else %}
            <i>{{ member.author2 }}</i><br>
            {% endif %}
            {% endif %}
            {% if member.author3 %}
            {% if member.affiliation3 %}
            <i>{{ member.author3 }}</i>, {{ member.affiliation3 }}<br>
            {% else %}
            <i>{{ member.author3 }}</i><br>
            {% endif %}
            {% endif %}
            {% if member.author4 %}
            {% if member.affiliation4 %}
            <i>{{ member.author4 }}</i>, {{ member.affiliation4 }}<br>
            {% else %}
            <i>{{ member.author4 }}</i><br>
            {% endif %}
            {% endif %}
            {% if member.presenter %}Presented by {{ member.presenter }} {% endif %}
          </td>
        </tr>
        {% endif %}
        {% endfor %}
        <hr>
      </table>


      <table width="100%" id="streamD">
        <tr>
          <td width="15%"><a
              href="https://www.youtube.com/watch?v=U_Iv_-S8T-g&list=PLTLa2tRY91LIERomYutM16smoQQ2UShoj&index=6"
              class="btn btn-primary btn-xl">Watch on</br>YouTube</a></td>
          <td width="85%">
            <h4><b>Investments Session</b></h4>
            <h5>Moderator: <a href="https://www.unimib.it/gianfranco-forte"><i>Gianfranco Forte</i></a>, University of
              Milano-Bicocca<br></h5>
          </td>
        </tr>
        {% for member in site.data.cal2020_papers %}
        {% if member.stream == 'Investments' %}
        <tr>
          <td width="15%"></td>
          <td width="85%"><br>
            {% if member.slides %}
            <a href="{{ member.link }}"><b>{{ member.paper }}</b></a>, (<a
              href="{{ site.baseurl }}/docs/CAL2020/slides/{{ member.slides }}.pdf">slides</a>)<br>
            {% else %}
            <a href="{{ member.link }}"><b>{{ member.paper }}</b></a><br>
            {% endif %}
            {% if member.author1 %}
            {% if member.affiliation1 %}
            <i>{{ member.author1 }}</i>, {{ member.affiliation1 }}<br>
            {% else %}
            <i>{{ member.author1 }}</i><br>
            {% endif %}
            {% endif %}
            {% if member.author2 %}
            {% if member.affiliation2 %}
            <i>{{ member.author2 }}</i>, {{ member.affiliation2 }}<br>
            {% else %}
            <i>{{ member.author2 }}</i><br>
            {% endif %}
            {% endif %}
            {% if member.author3 %}
            {% if member.affiliation3 %}
            <i>{{ member.author3 }}</i>, {{ member.affiliation3 }}<br>
            {% else %}
            <i>{{ member.author3 }}</i><br>
            {% endif %}
            {% endif %}
            {% if member.author4 %}
            {% if member.affiliation4 %}
            <i>{{ member.author4 }}</i>, {{ member.affiliation4 }}<br>
            {% else %}
            <i>{{ member.author4 }}</i><br>
            {% endif %}
            {% endif %}
            {% if member.presenter %}Presented by {{ member.presenter }} {% endif %}
          </td>
        </tr>
        {% endif %}
        {% endfor %}
        <hr>
      </table>

      <br>
      <h3><b>Plenary Session, 18:00 CET (UTC+1)</b></h3>
      <hr class="primary">

      <table width="100%" id="panel">
        <tr>
          <td width="15%"><a
              href="https://www.youtube.com/watch?v=Xg4BO0-hHkg&list=PLTLa2tRY91LIERomYutM16smoQQ2UShoj&index=7"
              class="btn btn-primary btn-xl">Watch on</br>YouTube</a></td>
          <td width="85%">
            <h4><b>Panel Session: Developments in Crypto-Assets Policy and Regulation</b></h4>
            <h5>Moderator: <a
                href="https://docenti.unicatt.it/ppd2/it/docenti/03701/antonella-sciarrone-alibrandi/profilo"><i>Antonella
                  Sciarrone Alibrandi</i></a>, Università Cattolica del Sacro Cuore<br><br></h5>
          </td>
        </tr>
        <tr>
          <td width="15%"></td>
          <td width="85%">
            <a href="http://faculty.unibocconi.it/filippoannunziata/"><i>Filippo Annunziata</i></a>, Bocconi University
            (<a href="{{ site.baseurl }}/docs/CAL2020/slides/MiCAR-Cryptolab.pdf">slides</a>)
          </td>
        </tr>
        </tr>
        <td width="15%"></td>
        <td width="85%">
          <a href="https://www.ecb.europa.eu/pub/research/authors/profiles/maria-teresa-chimienti.en.html"><i>Maria
              Teresa Chimienti</i></a>, European Central Bank
          (<a href="{{ site.baseurl }}/docs/CAL2020/slides/CAL2020_a_central_bank_prospective.pdf">slides</a>)
        </td>
        </tr>
        <tr>
          <td width="15%"></td>
          <td width="85%">
            <a href="https://www.linkedin.com/in/marcopetracco/"><i>Marco Petracco Giudici</i></a>, DG Joint Research
            Centre, European Commission
            (<a href="{{ site.baseurl }}/docs/CAL2020/slides/Fintech_CAL2020_panel.pdf">slides</a>)
          </td>
        </tr>
        <tr>
          <td width="15%"></td>
          <td width="85%">
            <a href="https://www.linkedin.com/in/jonisaksen/"><i>Dirk Andreas Zetzsche</i></a>, University of Luxembourg
            (<a href="{{ site.baseurl }}/docs/CAL2020/slides/Regulating_GSC.pdf">slides</a>)
          </td>
      </table>
    </div>

    <div class="img-responsive" id="program-committee">
      <br>
      <h3><b>Organizing Committee</b></h3>
      <hr class="primary">

      <ul>
        <li><b>Program Chairs</b>
          <ul>
            <li>Ferdinando M. Ametrano, Digital Gold Institute and University of Milano-Bicocca</li>
            <li>Paola A. Bongini, University of Milano-Bicocca</li>
          </ul>
        </li>
        <li><b>General Chair</b>
          <ul>
            <li>Lucia Mandelli, Digital Gold Institute</li>
            <li>Paolo Mazzocchi, Digital Gold Institute</li>
          </ul>
        </li>
        <li><b>Program Committee - Academic Perspective</b>
          <ul>
            <li>Lucia Alessi, DG Joint Research Centre - European Commission</li>
            <li>Filippo Annunziata, Bocconi University</li>
            <li>Fabio Bellini, University of Milano-Bicocca</li>
            <li>Luca Fantacci, Bocconi University</li>
            <li>Gianna Figà-Talamanca, University of Perugia</li>
            <li>Gianfranco Forte, University of Milano-Bicocca</li>
            <li>Paolo Giudici, University of Pavia</li>
            <li>Daniele Marazzina, Politecnico di Milano</li>
            <li>Francesca Mattassoglio, University of Milano-Bicocca</li>
            <li>Andrea Perrone, Università Cattolica del Sacro Cuore</li>
            <li>Marco Petracco Giudici, DG Joint Research Centre - European Commission</li>
            <li>Antonella Sciarrone Alibrandi, Università Cattolica del Sacro Cuore</li>
          </ul>
        </li>
        <li><b>Program Committee - Business and Technical Perspective</b>
          <ul>
            <li>Riccardo Casatta, Blockstream</li>
            <li>Gregorio De Felice, Intesa Sanpaolo</li>
            <li>Paolo Gianturco, Deloitte Consulting</li>
            <li>Elaine Ou, Global Financial Access</li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="img-responsive" id="contact">

      <br>
      <h3><b>Enquires</b></h3>
      <hr class="primary">
      <h4>For information please visit also the
        <a href="{{ site.baseurl }}/calconf">CAL conference main page</a>
        or contact us via
        <a href="mailto:cryptoassetlab+conf2020@unimib.it">mail</a>.
      </h4>

    </div>
  </section>
</div>

<div id="sponsorsid" class="col-sm-3">

  <div id="organizers" class="well-lg">

    <h3>Organized by</h3>

    <a href="{{ site.baseurl }}"><img src="/img/cal.png" height="80" alt="Crypto Asset Lab"></a>
    <br>
    <a href="https://ec.europa.eu/knowledge4policy/organisation/jrc-joint-research-centre_en"><img
        src="/img/cal2021/EC-JRC-logo_vertical_EN_pos_CMYK.jpg" height="115"
        alt="DG Joint Research Centre - European Commission"></a>
    <br>
    <a href="https://www.diseade.unimib.it/it"><img src="/img/bicocca-logo.png" height="115"
        alt="Milano-Bicocca University"></a>
    <br>
    <a href="https://dgi.io/"><img src="/img/dgi-logo.png" height="80" alt="Digital Gold Institute"></a>
    <br>

  </div>

  <hr class="primary">

  <div id="sponsors" class="well-lg">

    <h3>Sponsored by</h3>
    <br>
    <a href="https://checksig.com"><img src="/img/cal2020/CheckSig - _Logo Colore Nero.png" height="40">
      <h4><i>Gold Sponsor</i></h4>
    </a>
    <br>
    <hr class="primary">
    <a href="https://www.therocktrading.com/en/"><img src="/img/cal2020/trt-logo.png" height="50">
      <h4><i>Silver Sponsor</i></h4>
    </a>
    <br>
    <hr class="primary">
    <a href="https://www2.deloitte.com/it/it.html"><img src="/img/cal2020/deloitte-logo.png" height="50">
      <h4><i>Bronze Sponsor</i></h4>
    </a>
  </div>

</div>