---
layout: conference2022
lang: en
title: CAL2022
description: The 4th Crypto Asset Lab Conference
permalink: /cal2022/
---

<section id=cal2022>

  <h3><b>This page is a work in progress. Below
      the last year program is used as boiler-plate.
    </b></h3>

  <!--Program Day1-->
  <hr class="primary">
  <div class="img-responsive" id="program-day1">
    <h3><b>Day 1, November 4, 15:00-19:30 CET (UTC+1)</b></h3>
    <p><a href="https://www.youtube.com/watch?v=5G-NV6ccDzo&list=PLTLa2tRY91LJGX_yqhstChewO1q1LCwhY&index=1&t=55s">Watch
        it on
        YouTube</a>
    </p>
    <table width="100%" id="plenary">
      <tr>
        <td width="15%" valign="top">
          <h4><b>15:00</b></h4>
        </td>
        <td width="85%">
          <p id="Opening">
          <h4><b>Opening remarks</b></h4>
          <i>Lucia Alessi</i>, DG Joint Research Centre - European Commission
          <br>
          <i>Ferdinando M. Ametrano</i>, Digital Gold Institute and University of Milano-Bicocca
          <br>
          <i>Paola A. Bongini</i>, University of Milano-Bicocca
          <br>
          <i>Massimo De Rosa</i>, Regione Lombarda
          <hr class="primary">
        </td>
      </tr>
      <tr>
        <td width="15%" valign="top">
          <h4><b>15:20</b></h4>
        </td>
        <td width="85%">
          <p id="crypto-economics1">
          <h4><b>Crypto-Economics I</b></h4>
          <b>Moderator</b>:
          <i>Marco Petracco Giudici</i>, DG Joint Research Centre - European Commission
          <br><br>
          {% for member in site.data.cal2022_papers %}
          {% if member.stream == 'Crypto-economics1' and member.approval == true %}
          {% if member.slides %}
          <a href="{{ site.baseurl }}/docs/cal2022/{{ member.link }}.pdf"><b>{{ member.paper }}</b></a>, (<a
            href="{{ site.baseurl }}/docs/cal2022/slides/{{ member.slides }}.pdf">slides</a>)<br>
          {% else %}
          {% if member.link %}
          <a href="{{ site.baseurl }}/docs/cal2022/{{ member.link }}.pdf"><b>{{ member.paper }}</b></a><br>
          {% else %}
          <b>{{ member.paper }}</b><br>
          {% endif %}
          {% endif %}
          {% if member.author1 %}
          {% if member.affiliation1 %}
          <i>{{ member.author1 }}</i>, {{ member.affiliation1 }}<br>
          {% else %}
          <i>{{ member.author1 }}</i><br>
          {% endif %}
          {% endif %}
          {% if member.author2 %}
          {% if member.affiliation2 %}
          <i>{{ member.author2 }}</i>, {{ member.affiliation2 }}<br>
          {% else %}
          <i>{{ member.author2 }}</i><br>
          {% endif %}
          {% endif %}
          {% if member.author3 %}
          {% if member.affiliation3 %}
          <i>{{ member.author3 }}</i>, {{ member.affiliation3 }}<br>
          {% else %}
          <i>{{ member.author3 }}</i><br>
          {% endif %}
          {% endif %}
          {% if member.author4 %}
          {% if member.affiliation4 %}
          <i>{{ member.author4 }}</i>, {{ member.affiliation4 }}<br>
          {% else %}
          <i>{{ member.author4 }}</i><br>
          {% endif %}
          {% endif %}
          {% if member.presenter %}
          Presented by {{ member.presenter }}<br>
          {% endif %}
          <br>
          {% endif %}
          {% endfor %}
          </p>
          <hr class="primary">
        </td>
      </tr>
      <tr>
        <td width="15%" valign="top">
          <h4><b>16:40</b></h4>
        </td>
        <td width="85%">
          <p id="sponsor1">
          <h4><b>Sponsored speech</b></h4>
          <h4>Challenges in Bitcoin Investing for HNWIs and Institutional Investors (<a
              href="{{ site.baseurl }}/docs/cal2022/slides/CheckSig - Custody overview for CAL21.pdf">slides</a>)</h4>
          <a href="https://www.linkedin.com/in/michelemandelli"><i>Michele Mandelli</i></a>,
          Managing Partner, <a href="https://checksig.com">CheckSig</a>
          </p>
          <p>Bitcoin has become an investable asset class,
            sought after by institutional investors and HNWIs.
            Anyway, in spite of a growing industry,
            investing still lacks simplicity, security and easy compliance.
            CheckSig addresses these issues with a unique value proposition
            and the strongest Bitcoin custody protocol in the world.</p>
          <hr class="primary">
        </td>
      </tr>
      <tr>
        <td width="15%" valign="top">
          <h4><b>17:00</b></h4>
        </td>
        <td width="85%">
          <h4><b>Break</b></h4>
          <hr class="primary">
        </td>
      </tr>
      <tr>
        <td width="15%" valign="top">
          <h4><b>17:20</b></h4>
        </td>
        <td width="85%">
          <p id="crypto-economics2">
          <h4><b>Crypto-Economics II</b></h4>
          <b>Moderator</b>:
          <i>Paola Bongini</i>, University of Milano-Bicocca
          <br><br>
          {% for member in site.data.cal2022_papers %}
          {% if member.stream == 'Crypto-economics2' and member.approval == true %}
          {% if member.slides %}
          <a href="{{ site.baseurl }}/docs/cal2022/{{ member.link }}.pdf"><b>{{ member.paper }}</b></a>, (<a
            href="{{ site.baseurl }}/docs/cal2022/slides/{{ member.slides }}.pdf">slides</a>)<br>
          {% else %}
          {% if member.link %}
          <a href="{{ site.baseurl }}/docs/cal2022/{{ member.link }}.pdf"><b>{{ member.paper }}</b></a><br>
          {% else %}
          <b>{{ member.paper }}</b><br>
          {% endif %}
          {% endif %}
          {% if member.author1 %}
          {% if member.affiliation1 %}
          <i>{{ member.author1 }}</i>, {{ member.affiliation1 }}<br>
          {% else %}
          <i>{{ member.author1 }}</i><br>
          {% endif %}
          {% endif %}
          {% if member.author2 %}
          {% if member.affiliation2 %}
          <i>{{ member.author2 }}</i>, {{ member.affiliation2 }}<br>
          {% else %}
          <i>{{ member.author2 }}</i><br>
          {% endif %}
          {% endif %}
          {% if member.author3 %}
          {% if member.affiliation3 %}
          <i>{{ member.author3 }}</i>, {{ member.affiliation3 }}<br>
          {% else %}
          <i>{{ member.author3 }}</i><br>
          {% endif %}
          {% endif %}
          {% if member.author4 %}
          {% if member.affiliation4 %}
          <i>{{ member.author4 }}</i>, {{ member.affiliation4 }}<br>
          {% else %}
          <i>{{ member.author4 }}</i><br>
          {% endif %}
          {% endif %}
          {% if member.presenter %}
          Presented by {{ member.presenter }}<br>
          {% endif %}
          <br>
          {% endif %}
          {% endfor %}
          </p>
          <hr class="primary">
        </td>
      </tr>
      <tr>
        <td width="15%" valign="top">
          <h4><b>18:20</b></h4>
        </td>
        <td width="85%">
          <p id="quantitative-modelling">
          <h4><b>Quantitative Modelling</b></h4>
          <b>Moderator</b>:
          <i>Daniele Marazzina</i>, Politecnico di Milano
          <br><br>
          {% for member in site.data.cal2022_papers %}
          {% if member.stream == 'Quantitative-modelling' and member.approval == true %}
          {% if member.slides %}
          <a href="{{ site.baseurl }}/docs/cal2022/{{ member.link }}.pdf"><b>{{ member.paper }}</b></a>, (<a
            href="{{ site.baseurl }}/docs/cal2022/slides/{{ member.slides }}.pdf">slides</a>)<br>
          {% else %}
          {% if member.link %}
          <a href="{{ site.baseurl }}/docs/cal2022/{{ member.link }}.pdf"><b>{{ member.paper }}</b></a><br>
          {% else %}
          <b>{{ member.paper }}</b><br>
          {% endif %}
          {% endif %}
          {% if member.author1 %}
          {% if member.affiliation1 %}
          <i>{{ member.author1 }}</i>, {{ member.affiliation1 }}<br>
          {% else %}
          <i>{{ member.author1 }}</i><br>
          {% endif %}
          {% endif %}
          {% if member.author2 %}
          {% if member.affiliation2 %}
          <i>{{ member.author2 }}</i>, {{ member.affiliation2 }}<br>
          {% else %}
          <i>{{ member.author2 }}</i><br>
          {% endif %}
          {% endif %}
          {% if member.author3 %}
          {% if member.affiliation3 %}
          <i>{{ member.author3 }}</i>, {{ member.affiliation3 }}<br>
          {% else %}
          <i>{{ member.author3 }}</i><br>
          {% endif %}
          {% endif %}
          {% if member.author4 %}
          {% if member.affiliation4 %}
          <i>{{ member.author4 }}</i>, {{ member.affiliation4 }}<br>
          {% else %}
          <i>{{ member.author4 }}</i><br>
          {% endif %}
          {% endif %}
          {% if member.author5 %}
          {% if member.affiliation5 %}
          <i>{{ member.author5 }}</i>, {{ member.affiliation5 }}<br>
          {% else %}
          <i>{{ member.author5 }}</i><br>
          {% endif %}
          {% endif %}
          {% if member.author6 %}
          {% if member.affiliation6 %}
          <i>{{ member.author6 }}</i>, {{ member.affiliation6 }}<br>
          {% else %}
          <i>{{ member.author6 }}</i><br>
          {% endif %}
          {% endif %}
          {% if member.presenter %}
          Presented by {{ member.presenter }}<br>
          {% endif %}
          <br>
          {% endif %}
          {% endfor %}
          </p>
          <hr class="primary">
        </td>
      </tr>
      <tr>
        <td width="15%" valign="top">
          <h4><b>19:00</b></h4>
        </td>
        <td width="85%">
          <p id="Opening">
          <h4><b>Closing remarks</b></h4>
        </td>
      </tr>
    </table>
  </div>

  <!--Program Day2-->
  <hr class="primary">
  <div class="img-responsive" id="program-day2">
    <h3><b>Day 2, November 5, 15:00-19:30 CET (UTC+1)</b></h3>
    <p><a
        href="https://www.youtube.com/watch?v=w6GyOHaQyzg&list=PLTLa2tRY91LJGX_yqhstChewO1q1LCwhY&index=2&t=840s">Watch
        it on
        YouTube</a>
    </p>
    <table width="100%" id="plenary">
      <tr>
        <td width="15%" valign="top">
          <h4><b>15:00</b></h4>
        </td>
        <td width="85%">
          <p id="Keynote">
          <h4><b>Keynote Speech</b></h4>
          <h4>On decentralized protocols (<a href="{{ site.baseurl }}/docs/cal2022/slides/milan2.pdf">slides</a>)</h4>
          <i>Ricardo Pérez-Marco</i>, CNRS, Université de Paris
          </p>
          <p>After the success of Bitcoin as a decentralized payment network, a natural question is what type of
            protocols can be build using these decentralization ideas. It appears surprisingly difficult to build more
            general decentralized networks. We will explain why this is so, and what are the future challenges for this
            new technology.</p>
          <hr class="primary">
        </td>
      </tr>
      <tr>
        <td width="15%" valign="top">
          <h4><b>15:30</b></h4>
        </td>
        <td width="85%">
          <p id="investments">
          <h4><b>Investments and Trading</b></h4>
          <b>Moderator</b>:
          <i>Gianfranco Forte</i>, University of Milano-Bicocca
          <br><br>
          {% for member in site.data.cal2022_papers %}
          {% if member.stream == 'Investments-and-trading' and member.approval == true %}
          {% if member.slides %}
          <a href="{{ site.baseurl }}/docs/cal2022/{{ member.link }}.pdf"><b>{{ member.paper }}</b></a>, (<a
            href="{{ site.baseurl }}/docs/cal2022/slides/{{ member.slides }}.pdf">slides</a>)<br>
          {% else %}
          {% if member.link %}
          <a href="{{ site.baseurl }}/docs/cal2022/{{ member.link }}.pdf"><b>{{ member.paper }}</b></a><br>
          {% else %}
          <b>{{ member.paper }}</b><br>
          {% endif %}
          {% endif %}
          {% if member.author1 %}
          {% if member.affiliation1 %}
          <i>{{ member.author1 }}</i>, {{ member.affiliation1 }}<br>
          {% else %}
          <i>{{ member.author1 }}</i><br>
          {% endif %}
          {% endif %}
          {% if member.author2 %}
          {% if member.affiliation2 %}
          <i>{{ member.author2 }}</i>, {{ member.affiliation2 }}<br>
          {% else %}
          <i>{{ member.author2 }}</i><br>
          {% endif %}
          {% endif %}
          {% if member.author3 %}
          {% if member.affiliation3 %}
          <i>{{ member.author3 }}</i>, {{ member.affiliation3 }}<br>
          {% else %}
          <i>{{ member.author3 }}</i><br>
          {% endif %}
          {% endif %}
          {% if member.author4 %}
          {% if member.affiliation4 %}
          <i>{{ member.author4 }}</i>, {{ member.affiliation4 }}<br>
          {% else %}
          <i>{{ member.author4 }}</i><br>
          {% endif %}
          {% endif %}
          {% if member.author5 %}
          {% if member.affiliation5 %}
          <i>{{ member.author5 }}</i>, {{ member.affiliation5 }}<br>
          {% else %}
          <i>{{ member.author5 }}</i><br>
          {% endif %}
          {% endif %}
          {% if member.author6 %}
          {% if member.affiliation6 %}
          <i>{{ member.author6 }}</i>, {{ member.affiliation6 }}<br>
          {% else %}
          <i>{{ member.author6 }}</i><br>
          {% endif %}
          {% endif %}
          {% if member.presenter %}
          Presented by {{ member.presenter }}<br>
          {% endif %}
          <br>
          {% endif %}
          {% endfor %}
          </p>
          <hr class="primary">
        </td>
      </tr>
      <tr>
        <td width="15%" valign="top">
          <h4><b>16:30</b></h4>
        </td>
        <td width="85%">
          <p id="sponsor2">
          <h4><b>Sponsored speech</b></h4>
          <h4>Digital assets and the future of Financial Services (<a
              href="{{ site.baseurl }}/docs/cal2022/slides/DGI_DigitalAssets_FutureOfFSI_v05.pdf">slides</a>)</h4>
          <a href="https://www2.deloitte.com/it/it/profiles/gx-paolo-gianturco.html"><i>Paolo Gianturco</i></a>,
          Senior Partner, Core Business Operations & FinTech Leader,
          <a href="https://www2.deloitte.com/it/it.html">Deloitte Consulting</a>,
          DCM (Italy, Greece & Malta)
          </p>
          <p><a
              href="https://www2.deloitte.com/content/dam/insights/articles/US144337_Blockchain-survey/DI_Blockchain-survey.pdf">Deloitte's
              2021 Global Blockchain Survey</a>
            offers an overview of the role and the transformative impact
            that digital assets and blockchain technologies play in the FSI domain.
            It provides a picture of current and future expectations
            for the global financial services industry around digital assets,
            as well as their impacts and opportunities for the banking sector.
          </p>
          <hr class="primary">
        </td>
      </tr>
      <tr>
        <td width="15%" valign="top">
          <h4><b>16:50</b></h4>
        </td>
        <td width="85%">
          <h4><b>Break</b></h4>
          <hr class="primary">
        </td>
      </tr>
      <tr>
        <td width="15%" valign="top">
          <h4><b>17:10</b></h4>
        </td>
        <td width="85%">

          <p id="tokens">
          <h4><b>Fungible and Non-Fungible Tokens</b></h4>
          <b>Moderator</b>:
          <i>Gianna Figà-Talamanca</i>, University of Perugia
          <br><br>
          {% for member in site.data.cal2022_papers %}
          {% if member.stream == 'Fungible-and-NF-Tokens' and member.approval == true %}
          {% if member.slides %}
          <a href="{{ site.baseurl }}/docs/cal2022/{{ member.link }}.pdf"><b>{{ member.paper }}</b></a>, (<a
            href="{{ site.baseurl }}/docs/cal2022/slides/{{ member.slides }}.pdf">slides</a>)<br>
          {% else %}
          {% if member.link %}
          <a href="{{ site.baseurl }}/docs/cal2022/{{ member.link }}.pdf"><b>{{ member.paper }}</b></a><br>
          {% else %}
          <b>{{ member.paper }}</b><br>
          {% endif %}
          {% endif %}
          {% if member.author1 %}
          {% if member.affiliation1 %}
          <i>{{ member.author1 }}</i>, {{ member.affiliation1 }}<br>
          {% else %}
          <i>{{ member.author1 }}</i><br>
          {% endif %}
          {% endif %}
          {% if member.author2 %}
          {% if member.affiliation2 %}
          <i>{{ member.author2 }}</i>, {{ member.affiliation2 }}<br>
          {% else %}
          <i>{{ member.author2 }}</i><br>
          {% endif %}
          {% endif %}
          {% if member.author3 %}
          {% if member.affiliation3 %}
          <i>{{ member.author3 }}</i>, {{ member.affiliation3 }}<br>
          {% else %}
          <i>{{ member.author3 }}</i><br>
          {% endif %}
          {% endif %}
          {% if member.author4 %}
          {% if member.affiliation4 %}
          <i>{{ member.author4 }}</i>, {{ member.affiliation4 }}<br>
          {% else %}
          <i>{{ member.author4 }}</i><br>
          {% endif %}
          {% endif %}
          {% if member.author5 %}
          {% if member.affiliation5 %}
          <i>{{ member.author5 }}</i>, {{ member.affiliation5 }}<br>
          {% else %}
          <i>{{ member.author5 }}</i><br>
          {% endif %}
          {% endif %}
          {% if member.author6 %}
          {% if member.affiliation6 %}
          <i>{{ member.author6 }}</i>, {{ member.affiliation6 }}<br>
          {% else %}
          <i>{{ member.author6 }}</i><br>
          {% endif %}
          {% endif %}
          {% if member.presenter %}
          Presented by {{ member.presenter }}<br>
          {% endif %}
          <br>
          {% endif %}
          {% endfor %}
          </p>
          <hr class="primary">
        </td>
      </tr>
      <tr>
        <td width="15%" valign="top">
          <h4><b>18:10</b></h4>
        </td>
        <td width="85%">
          <p id="legal">
          <h4><b>Legal and Regulatory</b></h4>
          <b>Moderator</b>:
          <i>Francesca Mattassoglio</i>, University of Milano-Bicocca
          <br><br>
          {% for member in site.data.cal2022_papers %}
          {% if member.stream == 'Legal-and-regulatory' and member.approval == true %}
          {% if member.slides %}
          <a href="{{ site.baseurl }}/docs/cal2022/{{ member.link }}.pdf"><b>{{ member.paper }}</b></a>, (<a
            href="{{ site.baseurl }}/docs/cal2022/slides/{{ member.slides }}.pdf">slides</a>)<br>
          {% else %}
          {% if member.link %}
          <a href="{{ site.baseurl }}/docs/cal2022/{{ member.link }}.pdf"><b>{{ member.paper }}</b></a><br>
          {% else %}
          <b>{{ member.paper }}</b><br>
          {% endif %}
          {% endif %}
          {% if member.author1 %}
          {% if member.affiliation1 %}
          <i>{{ member.author1 }}</i>, {{ member.affiliation1 }}<br>
          {% else %}
          <i>{{ member.author1 }}</i><br>
          {% endif %}
          {% endif %}
          {% if member.author2 %}
          {% if member.affiliation2 %}
          <i>{{ member.author2 }}</i>, {{ member.affiliation2 }}<br>
          {% else %}
          <i>{{ member.author2 }}</i><br>
          {% endif %}
          {% endif %}
          {% if member.author3 %}
          {% if member.affiliation3 %}
          <i>{{ member.author3 }}</i>, {{ member.affiliation3 }}<br>
          {% else %}
          <i>{{ member.author3 }}</i><br>
          {% endif %}
          {% endif %}
          {% if member.author4 %}
          {% if member.affiliation4 %}
          <i>{{ member.author4 }}</i>, {{ member.affiliation4 }}<br>
          {% else %}
          <i>{{ member.author4 }}</i><br>
          {% endif %}
          {% endif %}
          {% if member.presenter %}
          Presented by {{ member.presenter }}<br>
          {% endif %}
          <br>
          {% endif %}
          {% endfor %}
          </p>
          <hr class="primary">
        </td>
      </tr>
      <tr>
        <td width="15%" valign="top">
          <h4><b>19:10</b></h4>
        </td>
        <td width="85%">
          <p id="Opening">
          <h4><b>Closing remarks</b></h4>
        </td>
      </tr>
    </table>
  </div>

</section>