---
layout: conference
lang: en
title: CAL2021 Program
description: The 3rd Crypto Asset Lab Conference
permalink: /cal2021unofficial/
---
<section id=cal2021>


  <div class="img-responsive" id="info">

    <img src="/img/cal2021/cal2021.jpg" width="100%" class="img-responsive">
    <a href="https://twitter.com/CryptoAssetLab">
      <img src="/img/cal2020/twitter.png" width="30" height="30%">
    </a>
    <a href="https://www.linkedin.com/events/the3ndcryptoassetlabconference6802637922232283136/">
      <img src="/img/cal2020/LinkedIn.png" width="30" height="30%">
    </a>
    <a href="https://www.facebook.com/events/1049598178901312">
      <img src="/img/cal2020/facebook.png" width="30" height="30%">
    </a>
    <a href="https://inomics.com/conference/the-crypto-asset-lab-conference-1512733">
      <img src="/img/cal2020/inomics.jpg" width="100" height="100%">
    </a>
    <a href="https://www.eventbrite.com/e/the-3nd-crypto-asset-lab-conference-registration-155774506743">
      <img src="/img/cal2020/eventbrite.png" width="30" height="30%">
    </a>
    <a href="https://www.eventbrite.com/e/the-3nd-crypto-asset-lab-conference-registration-155774506743" class="btn btn-primary btn-xl" text-align="right">Free Registration
    </a>
    <h3><b>The 3rd Crypto Asset Lab Conference Program</b>
    <h4>CAL2021 is a joint event with
      <a href="https://ec.europa.eu/knowledge4policy/organisation/jrc-joint-research-centre_en">DG Joint Research Centre, European Commission.</a>
    </h4>
    <h4>With the Patronage of 
      <a href="https://www.en.regione.lombardia.it/wps/portal/site/en-regione-lombardia">Regione Lombardia.</a>
    </h4>
    <h3>November 4-5, 2020</h3>
    <h4>See also the
      <a href="{{ site.baseurl }}/calconf/">conference main page</a>.
    </h4>
    <br>
  </div>

  <!--Program Day1-->
  <div class="img-responsive" id="program-day1">

    <table width="100%" id="plenary">
      <tr>
        <td width="15%" valign="top">
          <br>
          <a href="" class="btn btn-primary btn-xl">Watch on</br>YouTube</a>
        </td>
        <td width="85%">
          <h3><b>November 4, 15:00 - 19:00 CET (UTC+1)</b></h3>
          <hr class="primary">
        </td>
      </tr>
      <tr>
        <td width="15%" valign="top">
          <h4><b>15:00</b></h4>
        </td>
        <td width="85%">
          <p id="Opening">
            <h4><b>Introduction</b></h4>
            <a href="http://linkedin.com/in/lucia-alessi-78961a5"><i>Lucia Alessi</i></a>, DG Joint Research Centre, European Commission
            <br>
            <a href="http://www.ametrano.net/"><i>Ferdinando M. Ametrano</i></a>, Digital Gold Institute and University of Milano-Bicocca
            <br>
            <a href="https://www.unimib.it/paola-agnese-bongini"><i>Paola A. Bongini</i></a>, University of Milano-Bicocca
            <br><br>
            <h4><b>Welcome Address</b></h4>
            <a href="https://www.unimib.it/giovanna-iannantuoni"><i>Giovanna Iannantuoni</i></a>, University of Milano-Bicocca
          </p>
          <hr class="primary">
        </td>
      </tr>
      <tr>
        <td width="15%" valign="top">
          <h4><b>15:30</b></h4>
        </td>
        <td width="85%">
          <p id="crypto-economics">
            <h4><b>Crypto-Economics</b></h4>
            {% for member in site.data.cal2021_papers %}
              {% if member.stream == 'Crypto-economics' and member.approval == true %}
                {% if member.slides %}
                  <a href="{{ site.baseurl }}/docs/CAL2021/{{ member.link }}.pdf"><b>{{ member.paper }}</b></a>, (<a href="{{ site.baseurl }}/docs/CAL2021/slides/{{ member.slides }}.pdf">slides</a>)<br>
                {% else %}
                  {% if member.link %}
                  <a href="{{ site.baseurl }}/docs/CAL2021/{{ member.link }}.pdf"><b>{{ member.paper }}</b></a><br>
                  {% else %}
                  <b>{{ member.paper }}</b><br>
                  {% endif %}
                {% endif %}
                {% if member.author1 %}
                  {% if member.affiliation1 %}
                    <i>{{ member.author1 }}</i>, {{ member.affiliation1 }}<br>
                  {% else %}
                    <i>{{ member.author1 }}</i><br>
                  {% endif %}
                {% endif %}
                {% if member.author2 %}
                  {% if member.affiliation2 %}
                    <i>{{ member.author2 }}</i>, {{ member.affiliation2 }}<br>
                  {% else %}
                    <i>{{ member.author2 }}</i><br>
                  {% endif %}
                {% endif %}
                {% if member.author3 %}
                  {% if member.affiliation3 %}
                    <i>{{ member.author3 }}</i>, {{ member.affiliation3 }}<br>
                  {% else %}
                    <i>{{ member.author3 }}</i><br>
                  {% endif %}
                {% endif %}
                {% if member.author4 %}
                  {% if member.affiliation4 %}
                    <i>{{ member.author4 }}</i>, {{ member.affiliation4 }}<br>
                  {% else %}
                    <i>{{ member.author4 }}</i><br>
                  {% endif %}
                {% endif %}
                {% if member.presenter %}
                  Presented by {{ member.presenter }} 
                {% endif %}
                <br>
              {% endif %}
            {% endfor %}
            <b>Moderator</b>:
            <a href=""><i>Name Surname</i></a>, Affiliation
          </p>  
          <hr class="primary">
        </td>
      </tr>
      <tr>
        <td width="15%" valign="top">
          <h4><b>17:00</b></h4>
        </td>
        <td width="85%">
          <p id="sponsor1">
            <h4><b>Title Sponsor Session 1</b></h4>            
            <a href=""><i>Michele Mandelli</i></a>, CheckSig
          </p>  
          <hr class="primary">
        </td>
      </tr>
      <tr>
        <td width="15%" valign="top">
          <h4><b>17:30</b></h4>
        </td>
        <td width="85%">
          <p id="investments">
            <h4><b>Legal</b></h4>
            {% for member in site.data.cal2021_papers %}
              {% if member.stream == 'Legal-and-regulatory' and member.approval == true %}
                {% if member.slides %}
                  <a href="{{ site.baseurl }}/docs/CAL2021/{{ member.link }}.pdf"><b>{{ member.paper }}</b></a>, (<a href="{{ site.baseurl }}/docs/CAL2021/slides/{{ member.slides }}.pdf">slides</a>)<br>
                {% else %}
                  {% if member.link %}
                  <a href="{{ site.baseurl }}/docs/CAL2021/{{ member.link }}.pdf"><b>{{ member.paper }}</b></a><br>
                  {% else %}
                  <b>{{ member.paper }}</b><br>
                  {% endif %}
                {% endif %}
                {% if member.author1 %}
                  {% if member.affiliation1 %}
                    <i>{{ member.author1 }}</i>, {{ member.affiliation1 }}<br>
                  {% else %}
                    <i>{{ member.author1 }}</i><br>
                  {% endif %}
                {% endif %}
                {% if member.author2 %}
                  {% if member.affiliation2 %}
                    <i>{{ member.author2 }}</i>, {{ member.affiliation2 }}<br>
                  {% else %}
                    <i>{{ member.author2 }}</i><br>
                  {% endif %}
                {% endif %}
                {% if member.author3 %}
                  {% if member.affiliation3 %}
                    <i>{{ member.author3 }}</i>, {{ member.affiliation3 }}<br>
                  {% else %}
                    <i>{{ member.author3 }}</i><br>
                  {% endif %}
                {% endif %}
                {% if member.author4 %}
                  {% if member.affiliation4 %}
                    <i>{{ member.author4 }}</i>, {{ member.affiliation4 }}<br>
                  {% else %}
                    <i>{{ member.author4 }}</i><br>
                  {% endif %}
                {% endif %}      
                {% if member.author5 %}
                  {% if member.affiliation5 %}
                    <i>{{ member.author5 }}</i>, {{ member.affiliation5 }}<br>
                  {% else %}
                    <i>{{ member.author5 }}</i><br>
                  {% endif %}
                {% endif %}
                {% if member.author6 %}
                  {% if member.affiliation6 %}
                    <i>{{ member.author6 }}</i>, {{ member.affiliation6 }}<br>
                  {% else %}
                    <i>{{ member.author6 }}</i><br>
                  {% endif %}
                {% endif %}
                {% if member.presenter %}
                  Presented by {{ member.presenter }} 
                {% endif %}
                <br>
              {% endif %}
            {% endfor %}
            <b>Moderator</b>:
            <a href=""><i>Name Surname</i></a>, Affiliation
          </p>
        </td>
      </tr>
    </table>
    <hr class="primary">
  </div>

  <!--Program Day2-->

  <div class="img-responsive" id="program-day1">

    <table width="100%" id="plenary">
      <tr>
        <td width="15%" valign="top">
          <br>
          <a href="" class="btn btn-primary btn-xl">Watch on</br>YouTube</a>
        </td>
        <td width="85%">
          <h3><b>November 5, 15:00 - 19:00 CET (UTC+1)</b></h3>
          <hr class="primary">
        </td>
      </tr>
      <tr>
        <td width="15%" valign="top">
          <h4><b>15:00</b></h4>
        </td>
        <td width="85%">
          <p id="Keynote">
            <h4><b>Keynote Speech</b></h4>
            <h4>Title</h4>
            <a href="https://webusers.imj-prg.fr/~ricardo.perez-marco/"><i>Ricardo Pérez-Marco</i></a>, French National Centre for Scientific Research
          </p>
          <hr class="primary">
        </td>
      </tr>
      
      <tr>
        <td width="15%" valign="top">
          <h4><b>16:00</b></h4>
        </td>
        <td width="85%">
          <p id="investments">
            <h4><b>Investments and Trading</b></h4>
            {% for member in site.data.cal2021_papers %}
              {% if member.stream == 'Investments-and-trading' and member.approval == true %}
                {% if member.slides %}
                  <a href="{{ site.baseurl }}/docs/CAL2021/{{ member.link }}.pdf"><b>{{ member.paper }}</b></a>, (<a href="{{ site.baseurl }}/docs/CAL2021/slides/{{ member.slides }}.pdf">slides</a>)<br>
                {% else %}
                  {% if member.link %}
                  <a href="{{ site.baseurl }}/docs/CAL2021/{{ member.link }}.pdf"><b>{{ member.paper }}</b></a><br>
                  {% else %}
                  <b>{{ member.paper }}</b><br>
                  {% endif %}
                {% endif %}
                {% if member.author1 %}
                  {% if member.affiliation1 %}
                    <i>{{ member.author1 }}</i>, {{ member.affiliation1 }}<br>
                  {% else %}
                    <i>{{ member.author1 }}</i><br>
                  {% endif %}
                {% endif %}
                {% if member.author2 %}
                  {% if member.affiliation2 %}
                    <i>{{ member.author2 }}</i>, {{ member.affiliation2 }}<br>
                  {% else %}
                    <i>{{ member.author2 }}</i><br>
                  {% endif %}
                {% endif %}
                {% if member.author3 %}
                  {% if member.affiliation3 %}
                    <i>{{ member.author3 }}</i>, {{ member.affiliation3 }}<br>
                  {% else %}
                    <i>{{ member.author3 }}</i><br>
                  {% endif %}
                {% endif %}
                {% if member.author4 %}
                  {% if member.affiliation4 %}
                    <i>{{ member.author4 }}</i>, {{ member.affiliation4 }}<br>
                  {% else %}
                    <i>{{ member.author4 }}</i><br>
                  {% endif %}
                {% endif %}      
                {% if member.author5 %}
                  {% if member.affiliation5 %}
                    <i>{{ member.author5 }}</i>, {{ member.affiliation5 }}<br>
                  {% else %}
                    <i>{{ member.author5 }}</i><br>
                  {% endif %}
                {% endif %}
                {% if member.author6 %}
                  {% if member.affiliation6 %}
                    <i>{{ member.author6 }}</i>, {{ member.affiliation6 }}<br>
                  {% else %}
                    <i>{{ member.author6 }}</i><br>
                  {% endif %}
                {% endif %}
                {% if member.presenter %}
                  Presented by {{ member.presenter }} 
                {% endif %}
                <br>
              {% endif %}
            {% endfor %}
            <b>Moderator</b>:
            <a href=""><i>Name Surname</i></a>, Affiliation
          </p>
          <hr class="primary">
        </td>
      </tr>
      <tr>
        <td width="15%" valign="top">
          <h4><b>17:00</b></h4>
        </td>
        <td width="85%">
          <p id="crypto-economics">
            <h4><b>Fungible and Non-fungible Tokens</b></h4>
            {% for member in site.data.cal2021_papers %}
              {% if member.stream == 'Fungible-and-NF-Tokens' and member.approval == true %}
                {% if member.slides %}
                  <a href="{{ site.baseurl }}/docs/CAL2021/{{ member.link }}.pdf"><b>{{ member.paper }}</b></a>, (<a href="{{ site.baseurl }}/docs/CAL2021/slides/{{ member.slides }}.pdf">slides</a>)<br>
                {% else %}
                  {% if member.link %}
                  <a href="{{ site.baseurl }}/docs/CAL2021/{{ member.link }}.pdf"><b>{{ member.paper }}</b></a><br>
                  {% else %}
                  <b>{{ member.paper }}</b><br>
                  {% endif %}
                {% endif %}
                {% if member.author1 %}
                  {% if member.affiliation1 %}
                    <i>{{ member.author1 }}</i>, {{ member.affiliation1 }}<br>
                  {% else %}
                    <i>{{ member.author1 }}</i><br>
                  {% endif %}
                {% endif %}
                {% if member.author2 %}
                  {% if member.affiliation2 %}
                    <i>{{ member.author2 }}</i>, {{ member.affiliation2 }}<br>
                  {% else %}
                    <i>{{ member.author2 }}</i><br>
                  {% endif %}
                {% endif %}
                {% if member.author3 %}
                  {% if member.affiliation3 %}
                    <i>{{ member.author3 }}</i>, {{ member.affiliation3 }}<br>
                  {% else %}
                    <i>{{ member.author3 }}</i><br>
                  {% endif %}
                {% endif %}
                {% if member.author4 %}
                  {% if member.affiliation4 %}
                    <i>{{ member.author4 }}</i>, {{ member.affiliation4 }}<br>
                  {% else %}
                    <i>{{ member.author4 }}</i><br>
                  {% endif %}
                {% endif %}
                {% if member.presenter %}
                  Presented by {{ member.presenter }} 
                {% endif %}
                <br>
              {% endif %}
            {% endfor %}
            <b>Moderator</b>:
            <a href=""><i>Name Surname</i></a>, Affiliation
          </p>  
          <hr class="primary">
        </td>
      </tr>
      <tr>
        <td width="15%" valign="top">
          <h4><b>18:00</b></h4>
        </td>
        <td width="85%">
          <p id="sponsor1">
            <h4><b>Title Sponsor2 Session</b></h4>            
            <a href=""><i>Paolo Gianturco</i></a>, Deloitte
          </p>
        </td>
      </tr>
    </table>
  </div>

  <div class="img-responsive" id="program-committee">
    <br>
    <hr class="primary">
    <h3><b>Organizing Committee</b></h3>
    <hr class="primary">
    <ul>
      <li><b>Program Chairs</b>
        <ul>
          <li>Ferdinando M. Ametrano, Digital Gold Institute and University of Milano-Bicocca</li>
          <li>Paola A. Bongini, University of Milano-Bicocca</li>
        </ul>
      </li>
      <li><b>General Chair</b>
        <ul>
          <li>Lucia Mandelli, Digital Gold Institute</li>
        </ul>
      </li>
      <li><b>Program Committee</b>
        <ul>
          <li>Lucia Alessi, DG Joint Research Centre - European Commission</li>
          <li>Filippo Annunziata, Bocconi University</li>
          <li>Gianna Figà-Talamanca, University of Perugia</li>
          <li>Gianfranco Forte, University of Milano-Bicocca</li>
          <li>Paolo Giudici, University of Pavia</li>
          <li>Daniele Marazzina, Politecnico di Milano</li>
          <li>Francesca Mattassoglio, University of Milano-Bicocca</li>
          <li>Elaine Ou, Global Financial Access</li>
          <li>Marco Petracco, DG Joint Research Centre - European Commission</li>
          <li>Gina Pieters, University of Chicago</li>
          <li>Carla Reyes, Southern Methodist University</li>
          <li>Sandra Ro, Global Blockchain Business Council</li>
          <li>Wim Schoutens, University of Leuven</li>
          <li>Antonella Sciarrone Alibrandi, Università Cattolica del Sacro Cuore</li>
          <li>Maarten van Oordt, Bank of Canada</li>
          <li>Angela Walch, St. Mary's University School of Law</li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="img-responsive" id="contact">
    <br>
    <h3><b>Enquires</b></h3>
    <hr class="primary">
    <h4>For information please visit the
      <a href="{{ site.baseurl }}/calconf">CAL conference main page</a>
      or contact us via
      <a href="mailto:cryptoassetlab+conf2020@unimib.it">mail</a>.
    </h4>
  </div>

</section>
