<div id="footer" class="panel">
	<div class="panel-footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-4">
					<a href="http://www.diseade.unimib.it/it"><img
							src="{{ site.url }}{{ site.baseurl }}/images/bicocca-logo.png" height="80"></a>
				</div>
				<div class="col-sm-4">
					Via Bicocca degli Arcimboldi 8<br>
					Building U7 - Room 3010c<br>
					20126 Milan, Italy<br>
					<br>
					e-mail: cryptoassetlab <em>AT</em> unimib <em>DOT</em> it<br>
				</div>
				<div class="col-sm-4">
					<a href="http://dgi.io"><img src="{{ site.url }}{{ site.baseurl }}/images/dgi-logo.png"
							height="80"></a>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
