<div id="footer" class="panel">
	<div class="panel-footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-4">
					<p>&copy 2019 Crypto Asset Lab</p>
					<p>Part of <a href="http://www.unimib.it">Milano Bicocca University</a></p>
				</div>
				<div class="col-sm-4">
					<b>Contact:</b><br />
					e-mail: <i>to be announced soon</i><br />
					phone: <i>to be announced soon</i>
				</div>
				<div class="col-sm-4">
					<b>Address:</b><br />
					Via Bicocca degli Arcimboldi 8 <br />
					Building: U7, Room: 3010c <br />
					20100 Milano, Italy
				</div>
			</div>
		</div>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>