<div class="well-lg">
             
    <a href="https://cryptoassetlab.diseade.unimib.it/"><img src="/img/cal.png" height="90" text-align="center"></a>
    <br>
    <a href="https://ec.europa.eu/knowledge4policy/organisation/jrc-joint-research-centre_en"><img src="/img/cal2020/jrc_ec.jpg" height="130"></a>
    <br>
    <a href="https://www.diseade.unimib.it/it"><img src="/img/bicocca-logo.png" height="130"></a>
    <br>
    <a href="https://dgi.io/"><img src="/img/dgi-logo.png" height="90"></a>
    <br>

</div>