<div class="well-lg">

    <h3><b>CAL2020</b> is a joint event with</h3>
             
    <a href="https://cryptoassetlab.diseade.unimib.it/"><img src="/img/cal.png" height="80" alt="Crypto Asset Lab"></a>
    <br>
    <a href="https://ec.europa.eu/knowledge4policy/organisation/jrc-joint-research-centre_en"><img src="/img/cal2020/jrc_ec.jpg" height="115" alt="European Commission - Joint Research Centre"></a>
    <br>
    <a href="https://www.diseade.unimib.it/it"><img src="/img/bicocca-logo.png" height="115" alt="Milano-Bicocca University"></a>
    <br>
    <a href="https://dgi.io/"><img src="/img/dgi-logo.png" height="80" alt="Digital Gold Institute"></a>
    <br>

</div>