<div class="well-lg">

    <h3>Sponsored by</h3>
    <br>
    <a href="http://checksig.io"><img src="/img/cal2020/CheckSig-logo-transparent.png" height="50">
        <h4><i>Gold Sponsor</i></h4>
    </a>
        <br>
    <hr class="primary">
    <a href="mailto:cryptoassetlab+conf2021-chairs@unimib.it"><img src="/img/cal2021/silver-sponsor.png" height="150"><h4><i>Become a Sponsor</i></h4></a>
    <br>
    <hr class="primary">
    <a href="mailto:cryptoassetlab+conf2021-chairs@unimib.it"><img src="/img/cal2021/bronze-sponsor.png" height="150"><h4><i>Become a Sponsor</i></h4></a>

</div>