<div class="well-lg">

    <h3>Sponsored by</h3>
    <br>
    <a href="https://checksig.com"><img src="/img/cal2020/CheckSig - _Logo Colore Nero.png" height="40">
        <h4><i>Gold Sponsor</i></h4>
    </a>
    <br>
    <hr class="primary">
    <a href="https://www2.deloitte.com/it/it.html"><img src="/img/cal2021/deloitte-logo.png" height="50">
        <h4><i>Gold Sponsor</i></h4>
    </a>
    <br>
    <hr class="primary">
    <a href="https://elidata.it/"><img src="/img/cal2021/Elidata.png" height="70">
        <h4><i>Silver Sponsor</i></h4>

</div>