{% if page.title == 'About Us' %}
{% assign data = site.data.team_members %}
{% else if page.title == 'Advisory Board' %}
{% assign data = site.data.advisory_board %}
{% endif %}

{% for member in data %}

<div class="col-sm-6 clearfix">
  <img src="{{ site.url }}{{ site.baseurl }}/img/{{ member.photo }}" class="img-responsive" width="25%"
    style="float: left" />
  <h4><a href="{{ member.name_link }}">{{ member.name }}</a>{% if member.role %}<br>(<i>{{ member.role }}</i>){% endif %}</h4>
  <p>{% if member.affiliations >= 1 %}{% if member.affiliation1_role_link %}<a href="{{ member.affiliation1_role_link }}"><i>{{ member.affiliation1_role }}</i></a>{% else %}<i>{{ member.affiliation1_role }}</i>{% endif %}{% if member.affiliation1_company_link %}, <a href="{{ member.affiliation1_company_link }}"><i>{{ member.affiliation1_company }}</i></a>{% else %}, <i>{{ member.affiliation1_company }}</i>{% endif %}{% endif %}</p>
</div>

{% endfor %}