<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include header.html %}

  <div class="container-fluid">
    <div class="row">

      <div id="homeid" class="col-sm-9">

        <!-- Flyer and links
        <div class="img-responsive" id="flayer">

          <img src="/img/cal2023/cal2023.jpg" width="100%" class="img-responsive">

          <a href="https://twitter.com/CryptoAssetLab">
            <img src="/img/cal2023/twitter.png" width="30" height="30%">
          </a>

          <a href="https://www.linkedin.com/events/the3ndcryptoassetlabconference6802637922232283136/">
            <img src="/img/cal2023/linkedin.png" width="30" height="30%">
          </a>

          <a href="https://www.facebook.com/events/1049598178901312">
            <img src="/img/cal2023/facebook.png" width="30" height="30%">
          </a>

          <a href="https://inomics.com/conference/the-crypto-asset-lab-conference-1512733">
            <img src="/img/cal2023/inomics.jpg" width="100" height="100%">
          </a>

          <a href="https://www.eventbrite.com/e/the-3nd-crypto-asset-lab-conference-registration-155774506743">
            <img src="/img/cal2023/eventbrite.png" width="30" height="30%">
          </a>

          <a href="https://www.eventbrite.com/e/the-3nd-crypto-asset-lab-conference-registration-155774506743"
            class="btn btn-primary btn-xl" text-align="right">Free Registration
          </a>

        </div>-->

        <!-- General info  -->
        <div class="img-responsive" id="info">
          <h2><b>CAL2023: The 4th Crypto Asset Lab Conference</b></h2>

          <h3>Investments, Economics, and Regulation for Bitcoin and Crypto-Assets</h3>

          <h3>September, 28 and 29 - Milan (Italy) and online</h3>

          <p>The conference is online
            <!-- insert the YouTube link instead of "web streaming" below -->
            (web streamig)
            and in person at the University of Milano-Bicocca.
            <!-- insert the exact address below -->

            <!-- 
            Attending the conference is <b>free</b>, but <b>registration is required</b>:
            for registration and ticketing see the
            <a href="https://www.eventbrite.com/e/the-3nd-crypto-asset-lab-conference-registration-155774506743">Eventbrite
              conference page.</a>

            In person attendance is limited for sanitary restrictions: in person tickets will be available
            on the Eventbrite conference page starting from November 1.
            -->

          </p>

          <p>
            For general enquires please contact
            <a href="mailto:cal2023@cryptoassetlab.org">cal2023@cryptoassetlab.org</a>,
            to sponsor the conference please contact
            <a href="mailto:sponsorships@cryptoassetlab.org">sponsorships@cryptoassetlab.org</a>.
          </p>

        </div>

        {{ content }}

        <!--Organizing Committee-->
        <hr class="primary">
        <div class="img-responsive" id="program-committee">
          <h3><b>CAL2023 Organizing Committee</b></h3>
          <ul>
            <li><b>Program Chairs</b>
              <ul>
                <li>Ferdinando M. Ametrano, Digital Gold Institute and University of Milano-Bicocca</li>
                <li>Paola A. Bongini, University of Milano-Bicocca</li>
              </ul>
            </li>
            <li><b>General Chair</b>
              <ul>
                <li>Paolo Mazzocchi, Digital Gold Institute</li>
              </ul>
            </li>
            <li><b>Program Committee</b>
              <ul>
                <li>Lucia Alessi, DG Joint Research Centre - European Commission</li>
                <li>Filippo Annunziata, Bocconi University</li>
                <li>Gianna Figà-Talamanca, University of Perugia</li>
                <li>Gianfranco Forte, University of Milano-Bicocca</li>
                <li>Paolo Giudici, University of Pavia</li>
                <li>Daniele Marazzina, Politecnico di Milano</li>
                <li>Francesca Mattassoglio, University of Milano-Bicocca</li>
                <li>Elaine Ou, Global Financial Access</li>
                <li>Ricardo Pérez-Marco, CNRS, Université de Paris</li>
                <li>Marco Petracco Giudici, DG Joint Research Centre - European Commission</li>
                <li>Gina Pieters, University of Chicago</li>
                <li>Carla Reyes, Southern Methodist University</li>
                <li>Sandra Ro, Global Blockchain Business Council</li>
                <li>Antonella Sciarrone Alibrandi, Università Cattolica del Sacro Cuore</li>
                <li>Andreas Thiemann, DG Joint Research Centre - European Commission</li>
                <li>Maarten van Oordt, Vrije Universiteit Amsterdam</li>
                <li>Angela Walch, St. Mary's University School of Law</li>
              </ul>
            </li>
          </ul>
        </div>

        <!--Sponsors-->
        <hr class="primary">
        <div class="img-responsive" id="contact">
          <h3><b>Gold Sponsors</b></h3>
          <p>
            <a href="https://checksig.com"><img src="/img/cal2023/CheckSig - _Logo Colore Nero.png" height="35"></a>
          </p>
        </div>

      </div>

      <div id="sidebar" class="col-sm-3">

        <div id="organizers" class="well-lg">

          <h3>Organized with</h3>

          <a href="https://ec.europa.eu/knowledge4policy/organisation/jrc-joint-research-centre_en"><img
              src="/img/cal2023/JRC-EC.png" height="115" alt="DG Joint Research Centre - European Commission"></a>
          <br>
          <a href="https://www.diseade.unimib.it/it"><img src="/img/cal2023/bicocca-logo.png" height="115"
              alt="Milano-Bicocca University"></a>
          <br>
          <a href="https://dgi.io/"><img src="/img/cal2023/dgi-logo.png" height="80" alt="Digital Gold Institute"></a>
          <br>

        </div>

        <hr class="primary">

        <div id="sponsors" class="well-lg">

          <h3>Sponsored by</h3>

          <br>
          <a href="https://checksig.com"><img src="/img/cal2020/CheckSig - _Logo Colore Nero.png" height="35">
            <h4><i>Gold Sponsor</i></h4>
          </a>

          <br>
          <hr class="primary">
          <img src="/img/cal2023/silver-sponsor.png" height="80">
          <h4><i>Silver Sponsor</i></h4>

          <br>
          <hr class="primary">
          <img src="/img/cal2023/bronze-sponsor.png" height="80">
          <h4><i>Bronze Sponsor</i></h4>

        </div>

      </div>
    </div>
  </div>

  {% include footer.html %}

</body>

</html>