<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  {% include header.html %}

  <div class="container-fluid">
    <div class="row">
      <div id="homeid" class="col-sm-9">
        <!-- Flyer and links -->
        <div class="img-responsive" id="flayer">

          <img src="/img/cal2025/cal2025.png" width="100%" class="img-responsive">

          <a href="https://x.com/CryptoAssetLab">
            <img src="/img/cal2025/twitter_x.png" width="30" height="30%">
          </a>

          <a href="https://www.linkedin.com/events/7174033312909271040">
            <img src="/img/cal2025/linkedin.png" width="30" height="30%">
          </a>

          <a href="https://www.facebook.com/events/294875093665697">
            <img src="/img/cal2025/facebook.png" width="30" height="30%">
          </a>

          <a href="https://inomics.com/conference/cal2025-the-5th-crypto-asset-lab-conference-1539051">
            <img src="/img/cal2025/inomics.jpg" width="100" height="100%">
          </a>

          <a href="https://www.eventbrite.it/e/the-5th-crypto-asset-lab-conference-tickets-721917744407">
            <img src="/img/cal2025/eventbrite.png" width="30" height="30%">
          </a>

        </div>

        <!-- General info -->
        <div class="img-responsive" id="info">
          <h2><b>CAL2025: The 5th Crypto Asset Lab Conference</b></h2>

          <h3>
            Investments, Economics, and Regulation for
            Bitcoin, Crypto-Assets, and CBDCs
          </h3>

          <h3>January, 16 and 17 - Milan (Italy) and online</h3>

          <!-- h3>
            See the <a
              href="https://docs.google.com/document/d/1hLqfQG9qrdOMnTGnHXdWAvYBG0Slfn9n7c425sYpG44">program</a>.
          </h3 -->

          <p>
            For general enquires please contact
            <a href="mailto:info@cryptoassetlab.org">info@cryptoassetlab.org</a>,
            to be a partner of the conference please contact
            <a href="mailto:partners@cryptoassetlab.org">partners@cryptoassetlab.org</a>.
          </p>
        </div>

        <div class="img-responsive" id="attendance">
          <h3><b>Attendance</b></h3>
          <p>
            To attend the conference (in person or remote)
            get your ticket at
            <a
              href="https://www.eventbrite.it/e/the-5th-crypto-asset-lab-conference-tickets-721917744407">Eventbrite</a>.
            Prices are:
          <ul>
            <li>PhD students: €75</li>
            <li>in presence general admission: €150 (early birds €120, late-comers €180)</li>
            <li>remote connection: €90 (early birds €60, late-comers €120)</li>
          </ul>
          </p>
        </div>

        {{ content }}

        <hr class="primary" />
        <div class="img-responsive" id="program-committee">
          <h3><b>Organizing Committee</b></h3>
          <ul>
            <li>
              <b>Program Chairs</b>
              <ul>
                <li>Ferdinando Ametrano, Digital Gold Institute and Università Milano-Bicocca</li>
                <li>Paola A. Bongini, Università Milano-Bicocca</li>
              </ul>
            </li>
            <li>
              <b>General Chair</b>
              <ul>
                <li>Concetta Ingrassia, Digital Gold Institute</li>
                <li>Francesca Mattassoglio, Università Milano-Bicocca</li>
              </ul>
            </li>
            <li>
              <b>Program Committee</b>
              <ul>
                <li>Lucia Alessi - DG Joint Research Centre, European Commission</li>
                <li>Filippo Annunziata - Università Bocconi</li>
                <li>Simone Cortese - University of West London</li>
                <li>Luca Fantacci - Università degli Studi di Milano</li>
                <li>Gianna Figà-Talamanca - Università di Perugia</li>
                <li>Gianfranco Forte - Università Milano-Bicocca</li>
                <li>Yuliya Guseva - Rutgers Law School</li>
                <li>Daniele Marazzina - Politecnico di Milano</li>
                <li>Edoardo Martino - Amsterdam Center for Law and Economics</li>
                <li>Francesca Mattassoglio - Università Milano-Bicocca</li>
                <li>Paul Momtaz - TUM School of Management</li>
                <li>Paolo Pagnottoni - Università degli Studi dell'Insubria</li>
                <li>Ricardo Pérez-Marco - CNRS, Université de Paris</li>
                <li>Marco Petracco Giudici - DG Joint Research Centre, European Commission</li>
                <li>Gina Pieters - University of Chicago</li>
                <li>Carla Reyes - Southern Methodist University</li>
                <li>Sandra Ro - Global Blockchain Business Council</li>
                <li>Monica Rossolini - Università Milano-Bicocca</li>
                <li>Stefan Scharnowski - University of Mannheim</li>
                <li>Antonella Sciarrone Alibrandi - Università Cattolica del Sacro Cuore</li>
                <li>Maarten van Oordt - Vrije Universiteit Amsterdam</li>
                <li>Silvio Vismara - Università di Bergamo</li>
              </ul>
            </li>
          </ul>
        </div>

        <hr class="primary" />
        <div class="img-responsive" id="musa">
          <p>
            Conference organised within the
            <em>Multilayered Urban Sustainability Action</em> (MUSA) project
            and the
            <em>Designing a Governance for a Token Economy in a Decentralized Era</em> (DeTokoDe) project;
            projects funded by the European Union, NextGenerationEU.
          </p>
        </div>

        <!-- Partners -->
        <hr class="primary" />
        <div class="img-responsive" id="contact">
          <h3><b>Gold Partner</b></h3>
          <p>
            <a href="https://checksig.com"><img src="/img/cal2025/CheckSig - _Logo Colore Nero.png" height="35" /></a>
          </p>
        </div>
      </div>

      <div id="sidebar" class="col-sm-3">
        <div id="organizers" class="well-lg">
          <h3>Organized by</h3>
          <a href="https://ec.europa.eu/knowledge4policy/organisation/jrc-joint-research-centre_en"><img
              src="/img/cal2025/JRC-EC.png" height="115" alt="DG Joint Research Centre - European Commission" /></a>
          <br />
          <a href="https://www.diseade.unimib.it/it"><img src="/img/cal2025/diseade.png" height="115"
              alt="Milano-Bicocca University" /></a>
          <br />
          <a href="https://dgi.io/"><img src="/img/cal2025/dgi-logo.jpg" height="80" alt="Digital Gold Institute" /></a>
          <hr/>
          <h4>Organized whitin</h4>
          <a href="https://musascarl.it/en/home-2/"><img src="/img/cal2025/musa.jpg" height="40" alt="MUSA" /></a>
          <br />
          <a href="https://www.detokode.unito.it/"><img src="/img/cal2025/detokode.png" height="40" alt="DeTOKoDE" /></a>
        </div>

        <hr class="primary" />

        <div id="partners" class="well-lg">
          <h3>Partners</h3>

          <br />
          <a href="https://checksig.com"><img src="/img/cal2020/CheckSig - _Logo Colore Nero.png" height="35" style="margin-right:40px" /></a>
          <h4><i>Gold Partner</i></h4>

          <br />
          <hr class="primary" />
          <img src="/img/cal2025/silver-partner.png" height="80" />
          <h4><i>Silver Partners</i></h4>

          <br />
          <hr class="primary" />
          <img src="/img/cal2025/bronze-partner.png" height="80" />
          <h4><i>Bronze Partners</i></h4>
        </div>

        <hr class="primary" />

        <div id="previous_editions" class="well-lg">
          <h3>Previous editions</h3>

          <a href="{{ site.baseurl }}/cal2024">
            <h3><i>CAL2024</i></h3>
          </a>
          <a href="{{ site.baseurl }}/cal2021">
            <h3><i>CAL2021</i></h3>
          </a>
          <a href="{{ site.baseurl }}/cal2020">
            <h3><i>CAL2020</i></h3>
          </a>
          <a href="{{ site.baseurl }}/2019/06/12/conference.html">
            <h3><i>CAL2019</i></h3>
          </a>

        </div>
      </div>
    </div>
  </div>

  {% include footer.html %}
</body>

</html>
