---
layout: default
---

<div id="homeid" class="col-sm-9">

  {{ content }}

</div>

<div id="sponsorsid" class="col-sm-3">

  <div class="well-lg">

    <h3>Organized by</h3>

    <a href="{{ site.baseurl }}"><img src="/img/cal2021/cal.png" height="80" alt="Crypto Asset Lab"></a>
    <br>
    <a href="https://ec.europa.eu/knowledge4policy/organisation/jrc-joint-research-centre_en"><img
        src="/img/cal2021/JRC-EC.png" height="115" alt="DG Joint Research Centre - European Commission"></a>
    <br>
    <a href="https://www.diseade.unimib.it/it"><img src="/img/cal2021/bicocca-logo.png" height="115"
        alt="Milano-Bicocca University"></a>
    <br>
    <a href="https://dgi.io/"><img src="/img/cal2021/dgi-logo.png" height="80" alt="Digital Gold Institute"></a>
    <br>

    <hr class=primary>
    <h3>With the Patronage of</h3>

    <a href="https://www.en.regione.lombardia.it"><img src="/img/cal2021/regione-lombardia.png" height="45"
        alt="Crypto Asset Lab"></a>

  </div>

  <hr class="primary">

  <div class="well-lg">

    <h3>Partners</h3>

    <a href="https://checksig.com"><img src="/img/cal2020/CheckSig - _Logo Colore Nero.png" height="35">
      <h4><i>Gold Partner</i></h4>
    </a>
    <br>
    <hr class="primary">
    <a href="https://www2.deloitte.com/it/it.html"><img src="/img/cal2021/deloitte-logo.png" height="50">
      <h4><i>Gold Partner</i></h4>
    </a>
    <br>
    <hr class="primary">
    <a href="https://elidata.it/"><img src="/img/cal2021/Elidata.png" height="70">
      <h4><i>Silver Partner</i></h4>

  </div>

</div>